<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title class="text-center">XYZ Careers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
      #banner{
        height: 360px;
        width: 100%;
        object-fit:cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4" >XYZ Careers</h1>
      <img class = "img-fluid" id="banner" src= "https://xyz-careers-website--shameellamba.repl.co/static/banner.jpg">
      <h2 class="text-center mt-2 mb-4">About XYZ</h2>
      <p class = "lead">Join XYZ Enterprise as a Data Analyst and Scientist and unleash your analytical prowess! We are seeking talented individuals with a passion for data-driven insights and a strong background in data analysis and scientific methodologies.
  
  As a Data Analyst and Scientist at XYZ Enterprise, you will play a crucial role in extracting valuable information from complex datasets, identifying trends, and providing actionable recommendations. Your expertise will contribute to enhancing decision-making processes and driving the company's growth.
      </p>
      <h2 class="text-center mt-2 mb-4">Open Job Listings</h2>
      <p>
        {{jobs}}
      </p>
      <div class= "text-center">
      <button class= "btn btn-primary btn-lg">Contact Us</button>
        <p class="mt-4">Copyright 2023, Shameel</p>
      </div>  
    </div>  
  </body>
</html> 